#cookie-banner {
  -webkit-transform: translateZ(0);
  position: fixed;
  z-index: 300;
  bottom: 0;
  color: #fff;
  background: #090703;
  background: rgba(0, 0, 0, .8);
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  left: 7%;
  right: 7%;
  padding: 15px 20px;
}

#cookie-banner .close {
  text-indent: -9999em;
  background:url('../../../../themes/britishcouncil/images/generic/333-sprite-icons.png');
  background-position: -673px top;
  width: 18px;
  height: 21px;
  cursor: pointer;
  float: right;
}

#cookie-banner p {
  margin: 0;
  padding: 0;
  line-height: 1.3em;
  font-size: 20px;
}

#cookie-banner p a {
  color: #9cf;
  font-size: 13px;
  display: block;
  font-weight: normal;
}

#cookie-banner p a:hover {
  color: #449AF0;
  text-decoration: underline;
}
